.dashboard-content {
  display: flex;
  flex-direction: column;
  row-gap: 16px;
  padding: 16px;
  background-color: #f3f0f0e5;
}

.spend-overview-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  row-gap: 16px;
}
