.login-page-animation-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  row-gap: 2rem;
  top: 0;
  height: 100%;
  width: 100%;
  position: absolute;
  background-color: black;
  text-align: center;
}

.login-page-animation-container img {
  height: 150px;
  width: 150px;
}
