.button-link {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  border-radius: 10px;
  border: 1px solid #0c3d86;
  color: #ffff;
  background-color: #4c84d8;
  font-weight: 700;
  width: 100%;
  margin-bottom: 1rem;
}

.button-link:hover {
  transition: 0.7s;
  color: #ffffff;
  border-color: #ffffff;
  background-color: #6899f9;
}
