.page-container {
  display: flex;
  justify-content: center;
  padding: 1.5rem;
  height: 100%;
}

.page-main-text {
  font-weight: 700;
  font-size: 28px;
  background: conic-gradient(
    from 150deg at 20% 80%,
    #fff 220.62546730041504deg,
    #94a4ee 293.7517976760864deg,
    #6899f9 359.9639940261841deg
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.page-secondary-text {
  color: #7b7f8c;
  letter-spacing: -0.24px;
  margin-top: 12px;
}

@media screen and (min-width: 576px) {
  .page-container {
    padding-top: 2.5rem;
  }
  .page-content-container {
    width: 75%;
  }
}

@media screen and (min-width: 768px) {
  .page-container {
    padding-top: 3.5rem;
  }

  .page-content-container {
    width: 55%;
  }
}

@media screen and (min-width: 1200px) {
  .page-container {
    padding: 0;
  }

  .page-content-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 60%;
    height: calc(100vh - 90px);
    padding-left: 8rem;
  }

  .page-main-text {
    font-size: 2rem;
  }

  .page-secondary-text {
    font-size: 1.5rem;
  }
}
