@media screen and (min-width: 992px) {
  .home-grid-container {
    display: flex;
    flex-direction: column;
    height: calc(100vh - 70px);
  }

  .home-last-section-container {
    height: calc(50vh - 70px);
  }
}
