.filter-input {
  background-color: var(--green-color);
  color: var(--white);
  font-weight: 700;
  padding: 8px 16px;
  border-radius: 10px;
  border: none;
  height: 45px;
}

.filter-input::placeholder {
  color: var(--white);
  font-weight: 700;
}

.filter-input:focus {
  border: none;
}
