.main-nav {
  min-height: 70px;
}

.nav-logo-icon {
  width: 40px;
  height: 40px;
}

.nav-logo-text {
  display: none;
}
.navbar-toggler {
  border: none;
  padding: 0;
}

.navbar-toggler-icon {
  width: 40px;
  height: 40px;
  background-image: url("/src/assets/icons/menu.svg");
}

.navbar-toggler:focus {
  box-shadow: none;
}

.main-menu {
  display: flex;
  column-gap: 16px;
  color: var(--white);
  width: 100%;
  justify-content: center;
  margin-left: 0;
  margin-top: 0.8rem;
}

.nav-login-logout {
  display: none;
}

@media screen and (min-width: 768px) {
  .nav-logo-container {
    display: flex;
    align-items: center;
    width: 100%;
  }

  .nav-logo-text {
    display: block;
    color: var(--white);
    text-decoration: none;
    font-size: 1.3rem;
    margin: 0;
    margin-left: 0.5rem;
  }

  .main-menu {
    margin-top: 0;
  }

  .nav-logout {
    display: none;
  }

  .nav-login-logout {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    cursor: pointer;
  }

  .nav-login-logout svg {
    color: var(--white);
    font-size: 1.5rem;
    margin-left: 0.5rem;
  }

  .nav-login-logout a {
    display: flex;
    justify-content: center;
    font-weight: bold;
  }
}
