@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400&family=Ubuntu:wght@400;700&display=swap");

* {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
}

.App {
  height: 100vh;
  background: linear-gradient(
    180deg,
    #0f479a 0%,
    #05285b 23.84%,
    #0b1a41 62.5%,
    #020b17 100%
  );
}

a {
  text-decoration: none;
  color: var(--white);
}

h1,
h2,
span {
  color: var(--white);
}
