.first-section-container {
  width: 100%;
  height: calc(100% - 70px);
  background-color: var(--light-green-color);
  display: flex;
  flex-direction: column;
  padding: 32px 24px;
  justify-content: space-between;
}

.first-section-img {
  width: 100%;
}

.first-section-enter-app {
  display: flex;
  flex-direction: column;
  row-gap: 48px;
}

.first-section-text {
  display: flex;
  flex-direction: column;
  row-gap: 16px;
}

.first-section-text h1 {
  font-family: 'Nothing You Could Do', sans-serif;
  font-size: 32px;
  display: inline;
  font-weight: 500;
}

.first-section-text p {
  color: var(--grey-color);
  font-size: 14px;
}

.first-section-text-grey {
  color: var(--grey-color);
}

.first-section-btn {
  width: 100%;
  height: 35px;
  border: none;
  background-color: var(--pink-color);
  border-radius: 10px;
  font-size: 14px;
  font-weight: 700;
  color: var(--white);
}
